body {
  background-color: #ffffff;
  color: #000000;         
  text-align: center;        
  font-size: 22px;   
}
h1{
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

body {
    background-color: white;
    color: #222;
}

#botaoTema {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #1b5e20;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

body.modo-escuro {
    background-color: #121212;
    color: #f1f1f1;
}

body.modo-escuro #botaoTema {
    background-color: #81c784;
    color: #121212;
}